GPUtil==1.4.0
Jinja2==3.1.6
Mako==1.3.10
Markdown==3.8
MarkupSafe==3.0.2
PyYAML==6.0.2
Pygments==2.19.1
SQLAlchemy==2.0.41
Shimmy==2.0.0
Werkzeug==3.1.3
absl-py==2.2.2
aiodns==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiosignal==1.3.2
ale-py==0.11.0
alembic==1.15.2
annotated-types==0.7.0
anyio==4.9.0
astroid==3.3.10
asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.13.4
black==25.1.0
ccxt==4.4.82
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
clarabel==0.10.0
click==8.2.0
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
contourpy==1.3.2
cryptography==44.0.3
cvxpy==1.6.5
cycler==0.12.1
dateparser==1.2.1
debugpy==1.8.14
decorator==5.2.1
dill==0.4.0
envs==1.4
exchange_calendars==4.10.1
executing==2.2.0
filelock==3.18.0
fonttools==4.58.0
frozendict==2.4.6
fsspec==2025.3.2
greenlet==3.2.2
grpcio==1.71.0
gym-notices==0.0.8
gym==0.26.2
gymnasium==1.1.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.2.0
ipywidgets==8.1.7
isort==6.0.1
jedi==0.19.2
joblib==1.5.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
korean-lunar-calendar==0.3.1
llvmlite==0.44.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.10.3
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.4.3
multitasking==0.0.11
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.5
ollama==0.4.8
opencv-python==4.11.0.86
optuna==4.3.0
osqp==1.0.4
packaging==25.0
pandas==2.2.3
pandas_market_calendars==5.1.0
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
peewee==3.17.9
pillow==11.2.1
platformdirs==4.3.8
plotly==5.24.1
pluggy==1.6.0
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==6.31.0
psutil==7.0.0
pure_eval==0.2.3
pycares==4.8.0
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pygame==2.6.1
pylint==3.3.7
pyluach==2.2.0
pyparsing==3.2.3
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pyzmq==26.4.0
regex==2024.11.6
requests==2.32.3
rich==14.0.0
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.3
scs==3.2.7.post2
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
stable_baselines3==2.6.0
stack-data==0.6.3
statsmodels==0.14.4
sympy==1.14.0
tenacity==9.1.2
tensorboard-data-server==0.7.2
tensorboard==2.19.0
threadpoolctl==3.6.0
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
tornado==6.5
tqdm==4.67.1
tradingenv==0.1.3
traitlets==5.14.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
vectorbt==0.27.3
wcwidth==0.2.13
widgetsnbextension==4.0.14
yarl==1.20.0
yfinance==0.2.55
